.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background: #272727;
  /* height: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
}

.header {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;

  background-color: #595959;
  height: 65px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  gap: 20px;
}

.header-middle {
  flex: 1;
  justify-content: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  padding-left: 20%;
  padding-right: 20%;
}

.content {
  width: 650px;
  height: 100%;
}

/* posts css */

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* padding-top: 20px; */
  /* height: 200px; */
  /* height: 100%; */
  /* background-color: aliceblue; */
}

.post-container {
  /* margin-right: 35%; */
}

.post {
  background-color: #484848;
  color: #dddddd;

  /* box-shadow: 0px 0px 6px #6d6d6d; */
  border-radius: 17px;

  padding: 20px 30px 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  text-align: left;
}

.post-header {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

/* .user-icon {
  height: 56px;
  width: 61px;
  background-color: #078bff;
  border-radius: 40px;
} */

.user-icon img {
  width: 45px;
  height: 45px;
  border-radius: 31px;
  object-fit: cover;
  border: 1px solid #c6c6c6;
}

.post-stuff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-stuff-left {
  width: 100%;
  display: flex;
  gap: 10px;
}

.post-stuff-left-rows {
  display: flex;
  flex-direction: column;
}

.post-stats {
  font-size: 14px;
  color: grey;
}

.post-name {
  font-size: 17px;
  font-weight: 700;
}

.post-title {
  font-weight: 700;
}

.post-handle {
  color: #c2c2c2;
  text-decoration: underline;
}

.image-container {
}

.post-image {
  width: 100%;
  height: auto;
  /* width: 456px; */
  /* height: 232px; */
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  object-fit: cover;
}

.search-bar-container {
  display: flex;
  align-items: center;
  background: #8dcaff;
  height: 37px;
  border-radius: 25px;
}

.search-bar {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 2px solid #ffffff;
  border-right: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: #d6d6d6;
}

.search-bar-button {
  border: 2px solid #ffffff;
  border-left: 0;
  background: #d6d6d6;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 41px;
  margin: 0;
  padding: 0;
  width: 55px;
}

.search-icon {
  padding-top: 2px;
}

.dev-info {
  color: white;
  position: absolute;
  top: 74px;
}
